@import "tailwindcss";

body {
  background: #0f172a;
}

/* Marco principal */
.pokedex-frame {
  background-color: #dc2626;
  border: 4px solid #b91c1c;
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  position: relative;
}

.pokedex-led {
  width: 2.5rem; height: 2.5rem;
  background-color: #60a5fa;
  border: 4px solid #3b82f6;
  border-radius: 9999px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  position: absolute;
  top: -1.5rem; left: 50%;
  transform: translateX(-50%);
}

.pokedex-left-btn {
  width: 1.25rem; height: 5rem;
  background-color: #7f1d1d;
  border-radius: 0 0.75rem 0.75rem 0;
  position: absolute;
  left: 0; top: 5rem;
}

.pokedex-right-btn {
  width: 1.25rem; height: 5rem;
  background-color: #7f1d1d;
  border-radius: 0.75rem 0 0 0.75rem;
  position: absolute;
  right: 0; top: 5rem;
}

/* Pantalla */
.pokedex-screen {
  background-color: #1f2937;
  border: 4px solid #374151;
  border-radius: 0.75rem;
  padding: 1.25rem;
  margin-top: 1.5rem;
}

/* Boton Search */
.btn-green {
  background-color: #15803d;
  border: 2px solid #16a34a;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  display: block;
}

.btn-green:hover { background-color: #16a34a; }

.btn-yellow {
  background-color: #ca8a04;
  border: 2px solid #facc15;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  display: block;
}

.btn-yellow:hover { background-color: #f59e0b; }

/* Botones inferiores */
.pokedex-bottom-btn {
  width: 1.5rem; height: 1.5rem;
  border: 2px solid black;
  border-radius: 9999px;
}

.pokedex-btn {
  width: 50px;
  height: 50px;
  background: #e53e3e;
  border: 3px solid #111;
  border-radius: 12px;
  box-shadow: 0 4px #111;
  position: relative;
  cursor: pointer;
  transition: all 0.1s;
}

.pokedex-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px #111;
}