@import "tailwindcss";

body {
  background: #0f172a;
}

/* Transición de entrada */
.fade-enter {
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

/* Transición de salida */
.fade-exit {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0px); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0px); }
  to   { opacity: 0; transform: translateY(10px); }
}
